.emailList {
  flex: 1;
  overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.emailList::-webkit-scrollbar {
  display: none;
}

.emailList-settings {
  top: 0;
  position: sticky;
  /* We have a sticky element - we dont wanna get overwritten by anything */
  z-index: 999;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid whitesmoke;
  background-color: white;
  padding: 10px;
}

.emailList-sections {
  top: 0;
  position: sticky;
  z-index: 999;
  display: flex;
  background-color: white;
  border-bottom: 1px solid whitesmoke;
}

.emailList-list {
  /* will always reach the bottom */
  padding-bottom: 20%;
}
